
@media screen and (max-width: 1355px){
	.content-area{
		width: 100%;
		float: none;
		overflow: hidden;
	}
	.content-area .artical{
		width: 80%;
		padding-right: 100px;
	}
	.content-area .image-area{
		overflow: hidden;
	}
	.list-area{
		width: 45%;
		float: left;
		margin-right: 5%; 
	}
	.subscribe-area{
		width: 45%;
		float: left;
	}

} 