*{
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
body{
	font-family: tahoma;
	background: #d4d4d4;
}
.container{
	width: 80%;
	margin: 0 auto;
}
/* header area */
.header{
	border: 3px solid #000;
}
.header::after{
	content: '';
	clear: both;
	display: block;
}
.logo-area{
	width: 30%;
	float: left;
}
.logo-area img{
	width: 100px;
	height: 100px;
}
.menu-area{
	float: right;
	outline: 3px solid #333;
	margin-top: 38px; 
}
.menu-area ul{
	list-style-type: none;
	padding: 0 20px; 
	
}
.menu-area ul li{
	float: left;

}	
.menu-area ul li a{
	text-decoration: none;
	margin-right: 8px; 
}
.menu-area ul li a:hover{
	text-decoration: underline;
}
/* banner area */
.banner-area{
	background: url('../asstes/school.jpg');
	width: 100%;
	height: 100px;
	background-size: cover;
	border-top: 0;
	border-right: 3px solid #000;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
}
/* content-area */
.content-area{
	width: 900px;
	height: 360px;
	border: 3px solid #000;
	margin: 3px;
	float: left;
}
.list-area{
	width: 430px;
	height: 180px;
	border: 3px solid #000;
	float: left;
	margin: 3px;
}
.subscribe-area{
	width: 430px;
	height: 180px;
	border: 3px solid #000;
	float: left;
}
.content-area{
	overflow: hidden;
}
.content-area .artical{
	width: 600px;
	height: 0px;
	padding-right: 50px;
}
.content-area .image-area{
	width: 250px;
	height: 340px;
	border: 3px solid #000;
	float: right;
	margin: 5px;
}
.content-area .image-area img{
	width: 100%;
	height: 100%;
}
.list-area{
	text-align: center;
}
.list-area h3 {
    margin-top: 35px;
    text-decoration: underline;
}
.list-area ul li{
	list-style-type: none;
}
.list-area ul li a{
	text-decoration: none;
	color: #333;
}
.subscribe-area{
	text-align: center;
}
.subscribe-area h3 {
    margin-top: 48px;
    text-decoration: underline; 
}
.subscribe-area input[type="text"]{
	padding: 4px;
	border: 1px solid #d4d4d4;
	border-radius: 8px; 
	margin-top: 5px;
}

/*footer area*/
.footer-area{
	padding: 15px;
	border: 3px solid #000;
	margin-top: 380px;
	margin-bottom: 5px; 
	text-align: center;  
}










